.container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}


.square {
    width:50px;
    height:50px;
}
.square.black {
    /* color:hsl(0, 0%, 100%); */
    background-color:peru;
    border:none;
}
.square.white {
    width: 48px;
    height: 48px;
    border: 1px solid peru;
    background-color: white;
}

.row {
    display: inline-block;
}

.letter {
    font-size:1.5em;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

.board {
    width : 50%;
    text-align : right;
}

.controls {
    width : 50%;
    display:flex;
    flex-direction: row;
    padding:15px;
    padding-top:0px;
}
.controls > div {
    width:calc(100% / 3);
}

.figure {
    max-width: 50px;
    margin:auto;
    display:inherit
}

.modal {
    display:none;
}
.modal.open {
    display: block;
}

.modal .overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index:998;
}

.modal .dialog {
    width:50%;
    border-radius: 10px;
    padding:40px;
    z-index:999;
    position: absolute;
    top:30%;
    left:25%;
    background-color: white;
}

#next, #prev {
    display:none;
}

.inputs {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.inputs input[type=button] {
    height: 50px;
    margin-bottom: 50px;
}

#gamefileInput {
    height: 100px;
    width: 100%;
}

.drop_zone {
    display:none;
    margin-top: -100px;
    height: 94px;
    border:3px solid peru;
    border-radius:6px;
    color:peru;
    text-align: center;
    background-color:white;
    line-height:100px;
}